.calendar-events-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .fc-header-toolbar, .fc-toolbar, .fc-toolbar-ltr {
    font-size: xx-large;
    font-weight: 700;
} */

.eventPopup-light {
    -webkit-box-shadow: 0px 0px 36px -16px #22aed1;
    -moz-box-shadow: 0px 0px 36px -16px #22aed1;
    box-shadow: 0px 0px 36px -16px #22aed1;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 500px;
    height: 400px;
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: #22aed1;
}

.eventPopup-dark {
    -webkit-box-shadow: 0px 0px 36px -16px #8d2663;
    -moz-box-shadow: 0px 0px 36px -16px #8d2663;
    box-shadow: 0px 0px 36px -16px #8d2663;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 500px;
    height: 400px;
    color: #fdf7fa;
    padding: 10px;
    border-radius: 12px;
    background-color: #8d2663;
}

.event-popup-content {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}

.event-popup-input-light {
    height: 30px;
    outline: none;
    /* border-radius: 5px; */
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom: 2px solid white;
    background-color: #22aed1;
    color: white;
}

.event-popup-input-dark {
    height: 30px;
    outline: none;
    /* border-radius: 5px; */
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom: 2px solid white;
    background-color: #8d2663;
    color: white;
}


.event-popup-time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}

.event-popup-dropdown {
    width: 55px;
    height: 25px;
    outline: none;
    border-radius: 6px;
}

.event-popup-date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}


.events-div-dark {
    width: 20vw;
    height: 100vh;
    background-color: #606fee;
    color: white;
}

.events-div-light {
    width: 20vw;
    height: 100vh;
    background-color: white;
    color: #606fee;
}

.events-content {
    padding: 15px;
    margin-top: 50px;
}

/* .fc-scrollgrid-sync-table {
    color: red;
    height: 80px;
    width: 50vh;
} */

.calendar-content {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: 600;
}

.calendar-header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-title {
    flex-grow: 1;
}

.previous-next-icons-light {
    color: white;
    cursor: pointer;
    background-color: #c45baa;
    /* flex-grow: 1; */
}

.previous-next-icons-dark {
    color: #303658;
    cursor: pointer;
    background-color: #ffd4ca;
    /* flex-grow: 1; */
}

.calendar-div-light {
    width: 80vw;
    /* height: 80%; */
    background-color: white;
    color: #303658;
}

.calendar-div-dark {
    width: 80vw;
    /* height: 80%; */
    background-color: #303658;
    color: white;
}

.singleDay-block {
    cursor: pointer;
}

.singleDay-block-light:hover {
    background-color: #22aed1; 
    color: white;
    border-radius: 50%;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.singleDay-block-dark:hover {
    background-color: #8d2663;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}


/* .title-sweetalert, .hours-sweetalert, .minutes-sweetalert, .duration-sweetalert {
    border: 1px solid #767676;
    height: 40px;
    width: 200px;
    font-size: medium;
    border-radius: 5px;
} */
/* 
.sweetAlert-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.addEvent-button {
    padding: 7px;
    width: 70px;
    font-size: medium;
    font-weight: 500;
    border-radius: 2px;
    outline: none;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.dark-light-toggle-LIGHT {
    position: absolute;
    bottom: 50px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606fee;
}

.dark-light-toggle-DARK {
    position: absolute;
    bottom: 50px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}